**Q1\. Create a list called years\_list, starting with the year of your
birth, and each year thereafter until the year of your fifth birthday.
For example, if you were born in 1980. the list would be years\_list =
\[1980, 1981, 1982, 1983, 1984, 1985\].**

**Ans**

In [1]:
year_list = [1994,1995,1996,1997,1998]

**Q2. In which year in years\_list was your third birthday? Remember, you
were 0 years of age for your first year.**

**Ans**

In [63]:
year_list[3]

1997

**Q3.In the years list, which year were you the oldest?**

**Ans**

In [64]:
year_list[-1]

1998

**Q4 Make a list called things with these three strings as elements:
"mozzarella", "cinderella", "salmonella".**


**Ans**

In [17]:
strings = ['mozzarella','cinderella','salmonella']

**Q5. Capitalize the element in things that refers to a person and then
print the list. Did it change the element in the list?**

**Ans**

In [22]:
for i in strings:
    if i=='cinderella':
        i=i.upper()
        print(i)
print(strings)

CINDERELLA
['mozzarella', 'cinderella', 'salmonella']

Element in the list did not modify after the element was capatalized

**Q6 Make a surprise list with the elements "Groucho," "Chico," and
"Harpo."**


**Ans**

In [24]:
surprise = ['Groucho','Chico','Harpo']

**Q7 Lowercase the last element of the surprise list, reverse it, and
then capitalize it.**

**Ans**

In [36]:
print(surprise[-1].lower())
print(surprise[-1][::-1])
print(surprise[-1][::-1].upper())

harpo
opraH
OPRAH

**Q8 Make an English-to-French dictionary called e2f and print it. Here
are your starter words: dog is chien, cat is chat, and walrus is morse.**

**Ans**

In [58]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}

**Q9 Write the French word for walrus in your three-word dictionary e2f.**

**Ans**

In [39]:
e2f['walrus']

'morse'

**Q10 Make a French-to-English dictionary called f2e from e2f. Use the
items method.**

**Ans**

In [59]:
e2f.items()

dict_items([('dog', 'chien'), ('cat', 'chat'), ('walrus', 'morse')])

In [61]:
f2e = {v: k for k, v in e2f.items()}
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

**Q11 Print the English version of the French word chien using f2e.**

**Ans**

In [65]:
f2e['chien']

'dog'

15

**Q12 Make and print a set of English words from the keys in e2f**

**Ans**

In [67]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

**Q13 Make a multilevel dictionary called life. Use these strings for the
topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key
refer to another dictionary with the keys 'cats', 'octopi', and 'emus'.
Make the 'cats' key refer to a list of strings with the values 'Henri',
'Grumpy', and 'Lucy'. Make all the other keys refer to empty
dictionaries.**

**Ans**

In [72]:
life = {'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':'','emus':''},'plants':'','other':''}

In [73]:
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

**Q14 Print the top-level keys of life.**

**Ans**

In [74]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

**Q15 Print the keys for life\['animals'\].**

**Ans**

In [76]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

**Q16\. Print the values for life\['animals'\]\['cats'\]**

**Ans**

In [79]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']