**Q1 Set the variable test1 to the string 'This is a test of the
emergency text system,' and save test1 to a file named test.txt.**

**Ans**

In [1]:
test1 = 'This is a test of the emergency text system,'

In [3]:
file = open('text.txt','w')
file.write(test1)
file.close()

In [7]:
print(file.read)

<built-in method read of _io.TextIOWrapper object at 0x0000026D4AB52AD0>

**Q2 Read the contents of the file test.txt into the variable test2. Is
there a difference between test 1 and test 2?**

**Ans**

In [8]:
file1 = open("text.txt") 
    
# Reading from file 
print(file1.read()) 
    
file1.close()

This is a test of the emergency text system,

In [13]:
test2 = open("text.txt") 
print(test2.read())     
test2.close()

This is a test of the emergency text system,

**Q3 Create a CSV file called books.csv by using these lines:**

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992


**Ans**

In [13]:
import csv

In [25]:
filename = 'books.csv'
columns = ['title','author','year']
rows = [['The Weirdstone of Brisingamen','Alan Garner','1960'],
        ['Perdido Street Station','China Miéville','2000'],['Thud!','Terry Pratchett','2005'],
        ['The Spellman Files','Lisa Lutz','2007'],['Small Gods','Terry Pratchett','1992']]

In [26]:
with open(filename, 'w') as csvfile: 
    # creating a csv writer object 
    csvwriter = csv.writer(csvfile) 
  
    # writing the fields 
    csvwriter.writerow(columns) 
        
    # writing the data rows 
    csvwriter.writerows(rows)

In [69]:
import pandas as pd
pd.read_csv('books.csv',encoding='latin-1')

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

**Q4 Use the sqlite3 module to create a SQLite database called books.db,
and a table called books with these fields: title (text), author (text),
and year (integer).**

**Ans**

In [65]:
import sqlite3
con = sqlite3.connect('books.db')

cur = con.cursor()

# Create table
cur.execute('''CREATE TABLE books
               (title text, author text, year integer)''')

**Q5 Read books.csv and insert its data into the book table.**

**Ans**

In [66]:
data = pd.read_csv ('books.csv',encoding='latin-1')   
df = pd.DataFrame(data)

In [67]:
con.commit()

In [82]:
# Insert DataFrame to Table
for row in df.itertuples():
    cur.execute('''
                INSERT INTO books (title, author, year)
                VALUES (?,?,?)
                ''',
                (row.title, 
                row.author,
                row.year)
                )
con.commit()

In [98]:
cur.execute('''SELECT * from books''')
rows = cur.fetchall()
for row in rows:
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

**Q6 Select and print the title column from the book table in
alphabetical order.**

**Ans**

In [100]:
cur.execute('''SELECT DISTINCT title from books ORDER BY title''')
rows = cur.fetchall()
for row in rows:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

**Q7 From the book table, select and print all columns in the order of
publication.**

**Ans**

In [103]:
cur.execute('''SELECT DISTINCT * from books ORDER BY year''')
rows = cur.fetchall()
for row in rows:
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

**Q8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.**

**Ans**

In [120]:
import sqlalchemy
conn = sqlalchemy.create_engine(r'sqlite:///C:\Users\Kunal Parihar\Desktop\Machine Learning\iNeuron Assignments\books.db')
sql = 'select distinct title from books order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

**Q9 Install the Redis server and the Python redis library (pip install
redis) on your computer. Create a Redis hash called test with the fields
count (1) and name ('Fester Bestertester'). Print all the fields for
test.**


**Ans**

In [123]:
import redis
conn = redis.Redis()
conn.delete('test')
# 1
# conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
# True
# conn.hgetall('test'){b'name': b'Fester Bestertester', b'count': b'1'}

ConnectionError: Error 10061 connecting to localhost:6379. No connection could be made because the target machine actively refused it.

In [122]:
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})True>>> conn.hgetall('test'){b'name': b'Fester Bestertester', b'count': b'1'}

SyntaxError: invalid syntax (1566397937.py, line 1)