**Q1  Create a function that takes a number as an argument and returns True or
False depending on whether the number is symmetrical or not. A number is
symmetrical when it is the same as its reverse.**

**Examples**

is\_symmetrical(7227) ➞ True

is\_symmetrical(12567) ➞ False

is\_symmetrical(44444444) ➞ True

is\_symmetrical(9939) ➞ False

is\_symmetrical(1112111) ➞ True

In [35]:
import math

In [150]:
def check_sym(string):
    n=len(string)
    flag=0
    if n%2:
        mid=n//2+1
    else:
        mid= n//2
    start=0
    end= mid
    while(start <mid and end<n):
        if(string[start]== string[end]):
            start= start+1
            end= end+1
        else:
            flag=1
            break
    if flag==0:
        print("symmetrical")
    else:
        print("not symmetrical")
check_sym('77277')

symmetrical

In [151]:
check_sym('772727')

not symmetrical

**Q2 Given a string of numbers separated by a comma and space, return the
product of the numbers.**

### Examples

multiply\_nums("2, 3") ➞ 6

multiply\_nums("1, 2, 3, 4") ➞ 24

multiply\_nums("54, 75, 453, 0") ➞ 0

multiply\_nums("10, -2") ➞ -20

In [188]:
def multiply_nums(string):
    abc = [val for val in string.split(',') if val != ","]
    prod=1
    for i in abc:
        prod = int(i)*prod
    return(prod)    
multiply_nums("54, 75, 453, 0")

0

In [189]:
multiply_nums("1, 2, 3, 4")

24

In [190]:
multiply_nums("10, -2")

-20

**Q3 Create a function that squares every digit of a number.**

### Examples

square\_digits(9119) ➞ 811181

square\_digits(2483) ➞ 416649

square\_digits(3212) ➞ 9414

### Notes

The function receives an integer and must return an integer.

In [192]:
import re

In [215]:
def square_digits(num):
    res = 1
    abc = []
    for i in str(num):
        abc.append(str((int(i))**2))
    return int(''.join(abc))    
square_digits(2483)

416649

In [217]:
square_digits(3212)

9414

**Q4 Create a function that sorts a list and removes all duplicate items from
it.**

### Examples

setify(\[1, 3, 3, 5, 5\]) ➞ \[1, 3, 5\]

setify(\[4, 4, 4, 4\]) ➞ \[4\]

setify(\[5, 7, 8, 9, 10, 15\]) ➞ \[5, 7, 8, 9, 10, 15\]

setify(\[3, 3, 3, 2, 1\]) ➞ \[1, 2, 3\]

In [220]:
def setify(list_a):
    abc = []
    for i in list_a:
        abc.append(i)
    return sorted(set(abc))    
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [221]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [222]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

**Q5 Create a function that returns the mean of all digits.**

### Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

### Notes

-   The mean of all digits is the sum of digits / how many digits there
    are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) =
    8/3=2).

-   The mean will always be an integer.

In [240]:
def mean(num):
    num = [int(a) for a in str(num)]
    print(int(sum(num)/len(num)))
mean(12345)

3

In [241]:
mean(666)

6