**Q1 Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.**

Examples

filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []

In [3]:
def filter_list(list_a):
    abc = [val for val in list_a if type(val)==int]
    return(abc)
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [4]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

**Q2 Given a list of numbers, create a function which returns the list but
with each element's index in the list added to itself. This means
you add 0 to the number at index 0, add 1 to the number at index 1,
etc...**

### Examples

add\_indexes(\[0, 0, 0, 0, 0\]) ➞ \[0, 1, 2, 3, 4\]

add\_indexes(\[1, 2, 3, 4, 5\]) ➞ \[1, 3, 5, 7, 9\]

add\_indexes(\[5, 4, 3, 2, 1\]) ➞ \[5, 5, 5, 5, 5\]

In [34]:
def add_indexes(list_a):
    abc = []
    for i,j in enumerate(list_a):  
        var = i+j
        abc.append(var)    
    return abc 
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [35]:
add_indexes([0,0,0,0,0])

[0, 1, 2, 3, 4]

In [36]:
add_indexes([5, 4, 3, 2,1])

[5, 5, 5, 5, 5]

**Q3 Create a function that takes the height and radius of a cone as
arguments and returns the volume of the cone rounded to the nearest
hundredth. See the resources tab for the formula.**

<img src="attachment:media/image1.gif" style="width:1.88333in;height:2.2in" alt="Volume of a Cone Image" />

### Examples

cone\_volume(3, 2) ➞ 12.57

cone\_volume(15, 6) ➞ 565.49

cone\_volume(18, 0) ➞ 0

In [58]:
def cone_volume(h,r):
    area = (1/3)*(3.14)*(r**2)*h
    print('The area of the cone is',round(area,3))
cone_volume(3,2)

The area of the cone is 12.56

In [59]:
cone_volume(15,6)

The area of the cone is 565.2

In [60]:
cone_volume(18,0)

The area of the cone is 0.0

**Q4 This Triangular Number Sequence is generated from a pattern of dots that
form a triangle. The first 5 numbers of the sequence, or dots, are:**

1, 3, 6, 10, 15

**This means that the first triangle has just one dot, the second one has
three dots, the third one has 6 dots and so on.**

**Write a function that gives the number of dots with its corresponding
triangle number of the sequence.**

### Examples

triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

In [64]:
def triangle_number(num):
    sum_a = 0
    abc = []
    for i in range(1,num+1):
        sum_a = sum_a + i
        abc.append(sum_a)
    return abc[-1]
triangle_number(6)

21

In [65]:
triangle_number(215)

23220

**Q5 Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.**

### Examples

missing\_num(\[1, 2, 3, 4, 6, 7, 8, 9, 10\]) ➞ 5

missing\_num(\[7, 2, 3, 6, 5, 9, 1, 4, 8\]) ➞ 10

missing\_num(\[10, 5, 1, 2, 4, 6, 8, 3, 9\]) ➞ 7

In [13]:
def missing_num(list_a):
    abc = [val for val in range(1,11)]
    value = [val for val in abc if val not in list_a]
    print(value)
list_a = [1, 2, 3, 4, 6, 7, 8, 9, 10]
missing_num(list_a)

[5]

In [14]:
list_a = [10, 5, 1, 2, 4, 6, 8, 3, 9] 
missing_num(list_a)

[7]