**Q1 Write a function that takes a list and a number as arguments. Add the
number to the end of the list, then remove the first element of the
list. The function should then return the updated list.**

**Examples**

next\_in\_line(\[5, 6, 7, 8, 9\], 1) ➞ \[6, 7, 8, 9, 1\]

next\_in\_line(\[7, 6, 3, 23, 17\], 10) ➞ \[6, 3, 23, 17, 10\]

next\_in\_line(\[1, 10, 20, 42 \], 6) ➞ \[10, 20, 42, 6\]

next\_in\_line(\[\], 6) ➞ "No list has been selected"

In [28]:
def update_list(list,i):
    list.append(i)
    list.pop(list.index(list[0]))
#     list_a = list_a.append(i)
#     list_a = list_a.pop(list.index(i))
    return list

In [33]:
update_list([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [30]:
update_list([7, 6, 3, 23, 17],10)

[6, 3, 23, 17, 10]

**Q2 Create the function that takes a list of dictionaries and returns the
sum of people's budgets.**

### Examples

get\_budgets(\[

{ "name": "John", "age": 21, "budget": 23000 },

{ "name": "Steve", "age": 32, "budget": 40000 },

{ "name": "Martin", "age": 16, "budget": 2700 }

\]) ➞ 65700

get\_budgets(\[

{ "name": "John", "age": 21, "budget": 29000 },

{ "name": "Steve", "age": 32, "budget": 32000 },

{ "name": "Martin", "age": 16, "budget": 1600 }

\]) ➞ 62600

In [72]:
def sum_of_dict(list_of_dicts):
    abc = []
    for i in range(len(list_of_dicts)):
        abc.append(list_of_dicts[i]['budget'])
    print('The sum of Budgets is',sum(abc))

In [73]:
get_budgets_a = ([

{ "name": "John", "age": 21, "budget": 23000 },

{ "name": "Steve", "age": 32, "budget": 40000 },

{ "name": "Martin", "age": 16, "budget": 2700 }

]) 

get_budgets_b = ([

{ "name": "John", "age": 21, "budget": 29000 },

{ "name": "Steve", "age": 32, "budget": 32000 },

{ "name": "Martin", "age": 16, "budget": 1600 }

])

In [74]:
sum_of_dict(get_budgets_a)

The sum of Budgets is 65700

In [75]:
sum_of_dict(get_budgets_b)

The sum of Budgets is 62600

**Q3 Create a function that takes a string and returns a string with its
letters in alphabetical order.**

### Examples

alphabet\_soup("hello") ➞ "ehllo"

alphabet\_soup("edabit") ➞ "abdeit"

alphabet\_soup("hacker") ➞ "acehkr"

alphabet\_soup("geek") ➞ "eegk"

alphabet\_soup("javascript") ➞ "aacijprstv"

In [10]:
def rev_str():
    string = str(input('Enter The string\n'))
    string = [val for val in string]
    print(''.join(sorted(string)))
rev_str()

Enter The string
hello
ehllo

In [11]:
rev_str()

Enter The string
edabit
abdeit

**Q4 Suppose that you invest $10,000 for 10 years at an interest rate of 6%
compounded monthly. What will be the value of your investment at the end
of the 10 year period?**

**Create a function that accepts the principal p, the term in years t, the
interest rate r, and the number of compounding periods per year n. The
function returns the value at the end of term rounded to the nearest
cent.**

For the example above:

compound\_interest(10000, 10, 0.06, 12) ➞ 18193.97

Note that the interest rate is given as a decimal and n=12 because with
monthly compounding there are 12 periods per year. Compounding can also
be done annually, quarterly, weekly, or daily.

### Examples

compound\_interest(100, 1, 0.05, 1) ➞ 105.0

compound\_interest(3500, 15, 0.1, 4) ➞ 15399.26

compound\_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [27]:
def comp_int():
    principle = int(input('Enter the principle \n'))
    tenure = int(input('Enter the tenure\n'))
    rate = float(input('Enter the interest rate\n'))
    amount = principle * (pow((1 + rate / 100), tenure))
    print('The Compound interest is',amount)
comp_int()

Enter the principle
10000
Enter the tenure
5
Enter the interest rate
10.25
The Compound interest is 16288.946267774416

**Q5 Write a function that takes a list of elements and returns only the
integers.**

### Examples

return\_only\_integer(\[9, 2, "space", "car", "lion", 16\]) ➞ \[9, 2,
16\]

return\_only\_integer(\["hello", 81, "basketball", 123, "fox"\]) ➞ \[81,
123\]

return\_only\_integer(\[10, "121", 56, 20, "car", 3, "lion"\]) ➞ \[10,
56, 20, 3\]

return\_only\_integer(\["String", True, 3.3, 1\]) ➞ \[1\]

In [28]:
def return_only_integer(list_a):
    abc = [val for val in list_a if type(val)==int]
    return (abc)
return_only_integer([2,3,4,'Jack',123,'max'])

[2, 3, 4, 123]

In [29]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]